<nb-layout>

  <nb-layout-header fixed>
    <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>


    <div style="text-align: center;">
      <input style="width: 300px;" nbInput [nbDatepicker]="datepicker">
      <nb-datepicker #datepicker></nb-datepicker>
    </div>
    <br>
    <div style="text-align: center; ">
      <input style="width: 300px;" nbInput placeholder="Form Picker" [nbDatepicker]="formpicker">
      <nb-rangepicker #formpicker></nb-rangepicker>
    </div>


  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
